/*== 集群图样式 ======================*/
.node-cluster circle {
    /*fill: steelblue;*/
    /*stroke: steelblue;*/
    stroke-width: 1.5px;
}

.node-cluster {
    font: 12px sans-serif;
}

.link-cluster {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.text-cluster{
  font-family: Microsoft Yahei !important; 
  font-size: 10px !important;
  color: #333;
}
.buttonRect{
  cursor: pointer;
  fill: #666;
}
.buttonRectActive{
  fill: steelblue;
}
.clusterRootNode{
  font-family: Microsoft Yahei;
  font-size: 10px;
  color: #333;
}
.focusNode{
  font-family: Microsoft Yahei;
  font-size: 10px;
  color: #333;
}
/*指定圆形树图旋转中心的位置*/
.clusterGraphParent{
  transform-origin: 50% 50% !important;
}